# NODE (RPC)
node_modules
yarn.lock
yarn-error.log
package-lock.json

# CLI
CLI/env/.env
CLI/env/.env.*

# DOCKER POSTGRES DB
pg_hba.conf
postgresql.conf
.env.replication
DB/replication/env/.env
01-Create_repl_user.
03-Create_sub_*.sql
#DB/replication/init/*

# DOCKER COMPOSE
docker-compose.replication.yml

# SERVICES
RPC/services-backups/*

# STORAGE
RPC/storage/buckets/*

# MASTER INTERFACE
RPC/master

# PRISMA MODELS
RPC/services/**/model/interface