# NODE (RPC)
node_modules
yarn.lock
yarn-error.log

# CLI
CLI/env/.env
CLI/env/.env.*

# DOCKER POSTGRES DB
pg_hba.conf
postgresql.conf
.env.replication
DB/replication/env/.env
DB/replication/init/*

# DOCKER COMPOSE
docker-compose.replication.yml

# SERVICES
services-backups/*